<html>
    <head>
        <title>Summary</title>
        <style>
            th, td {
              border-style:solid;
              border-color: black;
            }
            </style>
    </head>
    <body>
        <h1>Summary Page</h1>
        <table>
            <tr>
              <th>Name</th>
              <th>Birth Date</th>
              <th>Blood Group</th>
              <th>Contact No.</th>
              <th>Address</th>  
            </tr>
            <tr>
              <td>Omkar Raut</td>
              <td>09/09/1994</td>
              <td>A+</td>
              <td>8983742094</td>
              <td>Khopoli</td>
            </tr>

          </table>
    </body>
</html>